<!DOCTYPE html>
<html>
    <head>
        <title>Detalhes Usuário &dot; Distribuidora</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>
            <b>Menu: </b> 
            <a href="/usuarios">Funcionários</a> - 
            <a href="/clientes">Clientes</a> - 
            <a href="/lojas">Lojas</a> - 
            <a href="/produtos">Produtos</a> - 
            <a href="/vendas">Vendas</a> - 
            <a href="/logout/">Logout</a>
            
            <br /><h2>Detalhes do Usuário</h2>
        </div>
        
        <div th:unless="${usuario}"><h2>Não existe funcionários com esse CPF.</h2></div>
        <div th:if="${usuario}">    
            <table>
                <tr><th>CPF: </th><th th:text="${usuario.cpf}"></th></tr>
                <tr><th>Nome: </th><th th:text="${usuario.nome}"></th></tr>
                <tr><th>Salário: </th><th th:text="${usuario.salario}"></th></tr>
                <tr><th>Cargo: </th><th th:text="${usuario.funcao}"></th></tr>
            </table>
            
            <div th:if="${not #lists.isEmpty(lojas)}">
                <br /><h2>Trablha nas Lojas:</h2>
                <table>
                    <tr>
                        <th style="width:150px;"><b>CNPJ</b></th>
                        <th style="width:150px;"><b>Nome</b></th>
                        <th style="width:50px;"><b>Ação</b></th>
                    </tr>
                    <tr th:each="loja : ${lojas}">
                        <th th:text="${loja.cnpj}"></th>
                        <th th:text="${loja.nome}"></th>
                        <th><a th:href="${'/loja/detalhe/' + loja.cnpj}">Ver</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
