<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DistribuidoraPoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="cadastrar" method ="post">
            
            <h1> Cadastro Estoque </h1>
            <div> Id: <input type= "number" name="id"> </div>
            <div> codigo de barra do produto: <input type= "text" name="produto"> </div>
            <div> quantidade do produto: <input type= "number" name="quantidade"> </div>
            <div> <input type="submit"  value="Enviar" > </div>
            
    </form>

</body>
</html>
