<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DistribuidoraPoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="remover" method ="post">
            
            <h1> Remover Usuario </h1>
         
            <div> CPF: <input type= "text" name="cpf"> </div>
            <div> <input type="submit"  value="Enviar" > </div>
            
    </form>

</body>
</html>