<!DOCTYPE html>
<html>
    <head>
        <title>Login &dot; Distribuidora</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>
            <b>Menu: </b>
            <a href="/login/criar">Cadastrar</a>
            
            <br /><h2>Conectar ao Sistema</h2>
            <form method="POST" th:object="${autenticarForm}" th:action="@{/login/autenticar}">
                <label>CPF: <input type="text" th:field="*{cpf}" /></label>
                <input style="margin-left: 10px;" type="submit" value="Entrar" />
            </form>
        </div>
    </body>
</html>
