<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DistribuidoraPoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="atualizar" method ="post">
            
            <h1> Atualizar Usuario </h1>
            <div> Id: <input type= "number" name="id"> </div>
            <div> Nome: <input type= "text" name="nome"> </div>
            <div> CPF: <input type= "text" name="cpf"> </div>
            <div> Telefone: <input type= "text" name="telefone"> </div>
            <div> Email: <input type= "text" name="email"> </div>
            <div> Funcao: <input type= "text" name="funcao"> </div>
            <div> Salario: <input type= "number" name="salario"> </div>
            <div> data admissao: <input type= "date" name="dataAdmissao"> </div> 
            <div> data demissao: <input type= "date" name="dataDemissao"> </div>
            <div> <input type="submit"  value="Enviar" > </div>
            
    </form>

</body>
</html>
