<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DistribuidoraPoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="cadastrar" method ="post">
            
            <h1> Cadastro Produto </h1>
            <div> Id: <input type= "number" name="id"> </div>
            <div> Nome: <input type= "text" name="nome"> </div>
            <div> Peso/ml: <input type= "number" name="pesoMl"> </div>
            <div> Preco: <input type= "number" name="preco"> </div>
            <div> Validade: <input type= "date" name="validade"> </div>
            <div> Fabricacao: <input type= "date" name="fabricacao"> </div> 
            <div> Caracteristicas: <input type= "text" name="caracteristicas"> </div>
            <div> CodigoBarra: <input type= "text" name="codigoBarra"> </div>
            <div> Fornecedor: <input type= "text" name="fornecedores"> </div>
            <div> <input type="submit"  value="Enviar" > </div>
            
    </form>

</body>
</html>