<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DistribuidoraPoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="cadastrar" method ="post">
            
            <h1> Cadastro Encaminhamento </h1>
            <div> Id: <input type= "number" name="id"> </div>
            <div> Status: <input type= "text" name="status"> </div>
            <div> Descricao: <input type= "number" name="descricao"> </div>
            <div> data aberto: <input type= "date" name="dataAberto"> </div> 
            <div> data finalizado: <input type= "date" name="dataFinalizado"> </div>
            <div> <input type="submit"  value="Enviar" > </div>
            
    </form>

</body>
</html>
