<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DistribuidoraPoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="cadastrar" method ="post">
            
            <h1> Cadastro Loja </h1>
            <div> Id: <input type= "number" name="id"> </div>
            <div> Nome: <input type= "text" name="nome"> </div>
            <div> Endereço: <input type= "text" name="endereco"> </div>
            <div> CPF/Cnpj: <input type= "text" name="cpfCnpj"> </div>
            <div> Telefone: <input type= "text" name="telefone"> </div> 
            <div> Email: <input type= "text" name="email"> </div>
            
            
            <div> <input type="submit"  value="Enviar" > </div>
            
    </form>

</body>
</html>