<!DOCTYPE html>
<html>
    <head>
        <title>Vendas </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>
            <b>Menu:</b> 
            <a href="/usuario">Perfil</a>
        </div>
        <div th:if="${not #lists.isEmpty(vendas)}">
            <h2>Lista de Vendas</h2>
            <table>
                <b>
                    <tr>
                        <th>Preço</th>
                        <th>Cliente</th>
                        <th>Vendedor</th>
                        <th>Ação</th>
                    </tr>
                </b>
                
                <tr th:each="venda : ${vendas}">
                    <th th:text="${'R$ ' + venda.valor}"></th>
                    <th th:text="${venda.cliente.nome}"></th>
                    <th th:text="${venda.usuario.nome}"></th>
                    <th><a th:href="${'/venda/editar/' + venda.id}">Detalhes</a></th>
                </tr>
            </table>
        </div>
    </body>
</html>
